README.md
v2/log/*
v2/.idea

#data files
ahn3/*
v2/data/*

__pycache__/*
ahn3test-1/*
ahn3test1/*
dublincity/*
model/*
output_folder2/*
output_folder3/*
output_folderdub/*
tesest1/*

#other files
v2/tiles_d.zip
v2.zip